<div class="col-lg-6">
    <div class="smart-widget widget-dark-blue">
        <div class="smart-widget-header">
            学生数据
            <span class="smart-widget-option">
            <a href="#" class="widget-collapse-option" data-toggle="collapse">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
            <a href="#" class="widget-refresh-option">
                                        <i class="fa fa-refresh"></i>
                                    </a>
            <a href="#" class="widget-remove-option">
                                        <i class="fa fa-times"></i>
                                    </a>
            </span>
        </div>
        <div class="smart-widget-inner">
            <div class="smart-widget-body no-padding">
                <div class="padding-md">
                    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                        <div id="main" style="width: 600px;height:400px;"></div>
                </div>
                <div class="bg-grey">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <h3 class="m-top-sm">999</h3>
                            <small class="m-bottom-sm block">Total Visits</small>
                        </div>
                        <div class="col-xs-4 text-center">
                            <h3 class="m-top-sm">102</h3>
                            <small class="m-bottom-sm block">New Visits</small>
                        </div>
                        <div class="col-xs-4 text-center">
                            <h3 class="m-top-sm">690</h3>
                            <small class="m-bottom-sm block">Bounce Rate</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./smart-widget-inner -->
    </div>
    <!-- ./smart-widget -->
</div>